!.gitignore
.idea
target

src/main/resources/transformation/resource/prov_np_output_rdfxml.rdf
src/main/resources/statistics/swissbib.marc21/job1r112A020.mf.xml
src/main/resources/statistics/swissbib.marc21/job1r112A001.mf.xml
src/main/resources/transformation/resource/maps/type_document.txt
src/main/resources/statistics/swissbib.marc21/job1r112A046.mf.xml
src/main/resources/statistics/swissbib.marc21/job1r112A035.mf.xml
src/main/resources/statistics/swissbib.marc21/job1r112A060.mf.xml
src/main/resources/transformation/resource/prov_np_morph_marc21.xml
src/main/resources/transformation/resource/prov_np_flux_to_rdfxml.flux
src/main/resources/transformation/resource/representativeData.xml
src/main/resources/transformation/resource/prov.flux
src/main/resources/transformation/resource/prov_morph.xml
src/main/resources/transformation/resource/prov_output.rdf
src/main/resources/transformation/resource/oli.flux
src/main/resources/transformation/resource/oli_filter.xml
src/main/resources/transformation/resource/oli_morph.xml
src/main/resources/transformation/resource/oli_output.rdf
src/main/resources/transformation/resource/oli_output.csv
src/main/resources/transformation/resource/prov_filter.xml
src/main/resources/transformation/resource/prov_stat_output.rdf
src/main/resources/transformation/resource/prov_stat_morph.xml
src/main/resources/transformation/resource/prov_stat_output.csv
src/main/resources/transformation/resource/prov_stat.flux
src/main/resources/transformation/resource/gh2_classif_912Test.xml
src/main/resources/transformation/resource/gh2_transformField080.flux
src/main/resources/transformation/resource/gh_transformVariantNames.flux
src/main/resources/transformation/resource/gh_transformVariantNames.xml
src/main/resources/transformation/resource/gh2_transformField080.xml
src/main/resources/transformation/resource/gh_transFormVariantNameTest.xml
src/main/resources/transformation/resource/prov_r.flux
src/main/resources/transformation/resource/oli_output2.csv
src/main/resources/transformation/item/prov.flux
src/main/resources/transformation/item/prov_morph.xml
src/main/resources/transformation/item/prov_output.formeta
src/main/resources/transformation/item/correctMarcXML2.xml
